

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background-color: #AAAAAA;
}

main{
    width: 1200px;
    height: auto;
    background-color: white;
}

header{
    width: inherit;
    height: auto;
    text-align: center;
}

svg{
    background-color: white;
}

.graph-container{
    position: relative;
}

#x-axis{
    font-size: 16px;
}

#y-axis{
    font-size: 16px;
}

#y-axis-title{
    font-size: 24px;
    font-weight: bold;
}

#legend{
    font-size: 18px;
}

#tooltip{
    display: inline-block;
    position: absolute;
    background-color: #3D9970;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    opacity: .9;
    display: none;
}

#tooltip p{
    margin: 2px 8px;
    padding: 5px;
}
